In [1]:
from pathlib import Path
import pandas as pd

In [2]:
p = Path(".") / "test.csv"

In [3]:
with p.open("r") as file:
    df = pd.read_csv(file, sep=" ", names=["direction", "magnitude"])

In [4]:
df

  direction  magnitude
0   forward          5
1      down          5
2   forward          8
3        up          3
4      down          8
5   forward          2

In [5]:
from dataclasses import dataclass

In [6]:
@dataclass
class Position:
    horizontal: int
    depth: int

In [7]:
pos = Position(horizontal=0, depth=0)

In [11]:
red = df.groupby(by="direction").sum()

In [13]:
red

           magnitude
direction
down              13
forward           15
up                 3

In [12]:
type(red)

pandas.core.frame.DataFrame

In [40]:
red["magnitude"]["down"] - red["magnitude"]["up"]

10

In [43]:
red["magnitude"]["forward"]

15

In [47]:
red.magnitude.up

3